// place your custom styles here
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css');

body {
    font-family: "LXGW WenKai Lite", sans-serif !important;
}

.presentation .slides h1,h2 {
    background: -webkit-linear-gradient(45deg,#e5b751,#1677b3,#cc5595 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.presentation .slides h1,h2,h3,h4,h5,h6 {
    font-family: "LXGW WenKai Lite", sans-serif !important;
}

.presentation .slides {
    font-family: "LXGW WenKai Lite", sans-serif !important;
}