// place your custom styles here
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css');

body {
    font-family: "LXGW WenKai Lite", sans-serif !important;
}

.presentation .slides h1,h2,h3,h4,h5,h6 {
    font-family: "LXGW WenKai Lite", sans-serif !important;
}

.presentation .slides {
    font-family: "LXGW WenKai Lite", sans-serif !important;
}