.page-enter-active, .page-leave-active {
  transition: opacity .2s;
  transition-duration: .2s;
  animation-duration: .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
  transition-duration: .2s;
  animation-duration: .2s;
}

// zoom transition
.zoom-enter-active {
  animation: zoomIn 0.4s;
}

.zoom-leave-active {
  animation: zoomIn 0.4s reverse;
}

// fade transition
.fade-enter-active {
  animation: fadeIn 0.4s;
}

.fade-leave-active {
  animation: fadeIn 0.4s reverse;
}

// slide transition
.slide-enter-active {
  animation: slideInUp 0.4s;
}

.slide-leave-active {
  animation: slideInUp 0.4s reverse;
}