upstream free4chat {
  server 172.26.5.77:7000 weight=100 max_fails=5 fail_timeout=5;
}

server {
    listen 80;

    server_name rpc.free4.chat;

    location / {
        proxy_pass http://free4chat;
    }
}
