[Unit]
Description=Free4Chat Daemon
After=network.target

[Service]
User=ubuntu
Type=simple
ExecStart=/home/ubuntu/free4.chat/app -c /home/ubuntu/free4.chat/engine.toml -s engine
Restart=on-failure
LimitNOFILE=65536
StandardOutput=append:/var/log/free4chat.log
StandardError=append:/var/log/free4chat_error.log

[Install]
WantedBy=multi-user.target
