.container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.speakButton {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.speakButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.buttonMicrophone {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  background-color: transparent;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-width: 0;
  border-width: 0;
  cursor: pointer;
}

.buttonMicrophone:hover {
  background-color: rgba(0, 0, 0, 0.13);
}
.buttonMicrophone:active {
  background-color: rgba(0, 0, 0, 0.25);
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttonJoin {
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 32px;
  padding: 10px 40px;
  color: white;
  /* user-select: none; */
  outline-width: 0;
  cursor: pointer;
}
.buttonJoin:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.top {
  flex-grow: 2;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
